{% extends 'base.html' %} {% block contentIndex %}

<h1>Channel Coding</h1>
<p>
  Error-correcting codes are the way to deal with the errors introduced in the
  actual message signal at the time of transmission in data communication. It is
  regarded as error detection and correction technique by which the information
  signal is encoded using redundant bits. <br>
  These are categorized as:
  <ul>
    <li>Block Code</li>
    <li>Convolutional Code</li>
  </ul>
</p>
<p> <b>Convolutional coding</b> is known to be one of the most frequently used error correction techniques relative to digital wireless communication.</p>
<p>Convolutional encoding of data is accomplished using a shift register and associated
combinatorial logic that performs modulo-two addition. (A shift register is merely a chain
of flip-flops wherein the output of the nth flip-flop is tied to the input of the (n+1)th flip-
flop. Every time the active edge of the clock occurs, the input to the flip-flop is clocked
through to the output, and thus the data are shifted over one stage.) The combinatorial
logic is often in the form of cascaded exclusive-or gates.</p>
<img
  src="static/img/example-showing-convolutional-coding-2799999572"
  alt="Convolutional Code block diagram"
/>
{% comment %} <h3>Input Text : {{data}}</h3>
<h3>Encoded output : {{encoded_output}}</h3> {% endcomment %}
<form method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label for="inputAddress3">Input Binary Number</label>
    <input
      type="text"
      class="form-control"
      name="inpAdd1"
      id="inputAddress3"
      placeholder="Enter binary number"
    />
  </div>

  <button id="subBtn1" type="submit" class="btn btn-primary">Submit</button>
</form>

<h3>Input Binary Number : {{raw_input}}</h3>
<h3>Convolutional Code : {{convCod}}</h3>
<h3>viterbe decoding : {{decoded}}</h3>
<h3>Min error : {{min_error}}</h3>





{% endblock contentIndex %}
