{% extends 'base.html' %} {% block contentIndex %}

<h1>Digital Communication</h1>
<p
  style="
    font: sans-serif;
    font-size: 21px;
    text-align: justify;
    margin-right: 50px;
  "
>
  Digital communication is a mode of a communication system where the
  information or the thought is encoded digitally as discrete signals and
  electronically transferred to the recipients. Digital communication is one of
  the most commonly used modes of the communication system of the modern age. A
  complete digital communication system consists of multiple blocks. A step by
  step block diagram representation of the digital communication system is shown
  below and the aim is to build each of the building blocks of the digital
  communication system.
</p>
<h3>Complete Digital Communication System Block Diagram</h3>

<img
  src="static/img/Screenshot from 2023-01-03 23-03-13.png"
  alt="Complete Digital Communication System Block Diagram"
/>

{% endblock contentIndex %}
