{% extends 'base.html' %} {% block contentIndex %}

<h1>Modulation</h1>

<p
  style="
    font: sans-serif;
    font-size: 21px;
    text-align: justify;
    margin-right: 50px;
  "
>
  Fundamental to all wireless communications is modulation, the process of
  impressing the data to be transmitted on the radio carrier. Most wireless
  transmissions today are digital, and with the limited spectrum available, the
  type of modulation is more critical than it has ever been.
</p>
<p
  style="
    font: sans-serif;
    font-size: 21px;
    text-align: justify;
    margin-right: 50px;
  "
>
  The main goal of modulation today is to squeeze as much data into the least
  amount of spectrum possible. That objective, known as spectral efficiency,
  measures how quickly data can be transmitted in an assigned bandwidth. The
  unit of measurement is bits per second per Hz (b/s/Hz). Multiple techniques
  have emerged to achieve and improve spectral efficiency.
</p>
<p
  style="
    font: sans-serif;
    font-size: 21px;
    text-align: justify;
    margin-right: 50px;
  "
>
  These techniques are used in many modern communication systems, such as
  cellular phones, Wi-Fi, and Bluetooth. Common digital modulation techniques
  include amplitude-shift keying (ASK), frequency-shift keying (FSK), and
  phase-shift keying (PSK). ASK is the simplest of these techniques, and is used
  for low-speed data transmission. FSK is more complex and is used for
  high-speed data transmission. PSK is the most complex of the three, and is
  used for very high-speed data transmission.
</p>
<form method="POST">
  {% csrf_token %}
  <div class="form-group" style="margin-right: 50px">
    <label for="inputAddress4">Input Binary Number</label>
    <input
      type="text"
      class="form-control"
      name="inpAdd1"
      id="inputAddress4"
      placeholder="Enter binary number [The length of the binary input should be a multiple of log2(M)]"
    />
  </div>

  <button id="subBtn2" type="submit" class="btn btn-primary">Submit</button>
</form>

<h3>Input Binary Number : {{string}}</h3>

<h4>QPSK Modulated output : {{pskmodulated}}</h4>
<h4>QPSK Demodulated output : {{pskdemodulated}}</h4>

<br />
<h4>16 QAM Modulated output : {{qammodulated}}</h4>
<h4>16 QAM Demodulated output : {{qamDemodulated}}</h4>
{% endblock contentIndex %}
